.purchases {
  margin: $control-margin * 10;

  > div {
    > div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .hidden {
      display: none;
    }
  }

  .buttons {
    margin-top: $control-margin * 4;
    text-align: center;
  }
}
